<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>E-medical</title>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>
  <title>E-medical</title>
</head>

<body>
  {% include "hospital/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div class="jumbotron" style="margin: 0 100px 0 100px;">
    <h3 class="display-4">Welcome to the Medical Center of NSTU</h3>
    <p class="lead">The medical center of Noakhali Science and Technology University(NSTU) temporary located administration building ground floor, room no-117, offers free experienced general practitioner and emergency medical care services to all members(students, teachers,offcers,staff, also family members of the teachers, officers,staff) of the university community</p>
    <hr class="my-4">
    <h4>Support</h4>
    <p>Our staffs are available to you deal with your problems by treating you as a responsible adult, offering conservative support without judgement.</p>
    <h4>Services</h4>
    <p>
      <ul>
        
        <li>Routine medical examination and health check up (pulse, temperature, blood pressure etc).</li>
        <li>Treatment of illness, injury and other physical problems.</li>
        <li>Minor surgical procedure and wound management (drainage of abscess, boil etc).</li>
        <li>Minor sports injury management in the field.</li>
        <li>Travel medicine and advice for the departments.</li>
        <li>Emergency management asthmatic patient by nebulization and oxygen mask.</li>
        <li>To check blood sugar by glucometer at free of cost.</li>
        <li>Referral to specialist according to need and condition of the patient.</li>
        <li>Issuing medical certificate.</li>
        <li>Medical assessment/pre-employment Medicals (by issuing fitness certificate).</li>
      </ul>
    </p>



    <p>Explore our Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>
  {% include "hospital/footer.html" %}
</body>


</html>
