{% extends 'hospital/accountant_base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Medicine</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Medicine Name</th>
          <th>Company Name</th>
          <th>Stock</th>
          <th>Update</th>
          <th>Delete</th>

        </tr>
      </thead>
      {% for m in medicines %}
      <tr>
        <td>{{m.date}}</td>
        <td>{{m.medicinename}}</td>
        <td>{{m.companyname}}</td>
        <td>{{m.stock}}</td>
        <td><a class="btn btn-primary btn-xs" href="{% url 'update-medicine' m.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a class="btn btn-danger btn-xs" href="{% url 'delete-medicine-from-hospital' m.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}
