{% extends 'hospital/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h3 class="display-5" style="text-align:center;">Hello, Patients</h3>
  <p class="lead">Welcome to NSTU's E-medical Service.</p>
  <hr class="my-4">
  <p>You can access various features after Login/SignUp.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">Signup</a>
    <a class="btn btn-primary btn-lg" href="/patientlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %} 
