<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Include Bootstrap CSS from CDN -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <!-- Include Bootstrap JavaScript and Popper.js (required for some Bootstrap features) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <style>
            h1,h2{
                margin: 0%;
            }
        </style>
    </head>
    <body>
        <div class="container" >
            <div class="row">
            
                <div class="col-12" style="text-align: center; background-color:cornflowerblue; padding: 10px; color: white;">
                    <h1>Medical Center</h1>
                    <h2>Noakhali Science and Technology University</h2>
                </div>
                <br>
                <div class="" style="text-align: center;">
                    <h1>Prescription</h1>
                    <p>Doctor: {{ prescription.doctor }}</p>
                    <p>Patient: {{ prescription.patient }}</p>
                    <p>Date: {{ prescription.date }}</p>
                </div>
                <hr>
                <br>
                <div class="col-12">
                    <h2>Symptoms:</h2>
                    <p>{{ prescription.symptoms }}</p>
                </div>
                <br>
                <div class="col-6">
                    <div style="display: inline-block; width: 200px;">
                        <h2>Medicines:</h2>
                        {% if prescription.medicine1 != None %}
                        <p>{{ prescription.medicine1 }} x {{ prescription.medicine1Count }}</p>
                        {% endif %}
                        {% if prescription.medicine2 != None %}
                        <p>{{ prescription.medicine2 }} x {{ prescription.medicine2Count }}</p>
                        {% endif %}
                        {% if prescription.medicine3 != None %}
                        <p>{{ prescription.medicine3 }} x {{ prescription.medicine3Count }}</p>
                        {% endif %}
                        {% if prescription.medicine4 != None %}
                        <p>{{ prescription.medicine4 }} x {{ prescription.medicine4Count }}</p>
                        {% endif %}
                        {% if prescription.medicine5 != None %}
                        <p>{{ prescription.medicine5 }} x {{ prescription.medicine5Count }}</p>
                        {% endif %}
                    </div>
                </div>
                <br>
                <div class="col-12">
                    <h2>Extra Medicine:</h2>
                    <p>{{ prescription.extraMedicine }}</p>
                    <br>
                    <h2>Advice:</h2>
                    <p>{{ prescription.advice }}</p>
                    <br>
                    <div style="display: inline-block; width: 200px;">
                        <h2>Tests:</h2>
                        <p>{{ prescription.tests }}</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>